body {
  background-color: #003300;
  font-family: monospace, lobster;
  font-align: center;
  color: white;
  font-size: 16px;
   
 }

h1{    
  background-color:#003300;
  text-align: center;
  font-size: 30px;
   }

  #image{
 max-width: 100%;
 display: block;
 margin-left: auto;
 margin-right: auto;
 height: auto;
 text-align: center;
}

#tribute-link{
background-color:white 
}
   
    
}

18
<img src="https://tse1.mm.bing.net/th?id=OIP.ChQ1Rbs03eiQ4YYR0f2_igAAAA&pid=Api&rs=1&c=1&qlt=95&w=105&h=105" alt="Obafemi Awolowo image">
19
       <img        src="https://i5.walmartimages.com/asr/5bb79b3c-d259-4d7f-9843-37e420c60302_1.949ad2606417ffc454d5038abc547b2d.jpeg?odnHeight=120&odnWidth=120&odnBg=ffffff" alt="Article on Obafemi Awolowo">
20
      
21
       <p id= "img caption">Chief Obafemi Awolowo, The Nigerian Politician Extraodinaire</p>
22
         </div>
23
         
24
       <p id="tribute-info"> Why is Obafemi Awolowo an unforgetable politician?</p>
25
      <ul>
26
        <li>Chief Obafemi Jeremiah Oyeniyi Awolowo, GCFR (is a Yoruba man from Western Nigeria, he was born on 6 March 1909 at Ikenne in Ogun State of south-western Nigeria</li>
27
        <li>He was a Nigerian nationalist and statesman who played a key role in Nigeria's independence movement, the First and Second Republics and the Civil War.</li>
28
        <li>The son of a Yoruba farmer, he was one of the truly self-made men among his contemporaries in Nigeria.</li>
29
​
30
<li>As a young man he was an active journalist, editing publications such as the Nigerian worker, on top of others as well. After receiving his bachelors of commerce degree in Nigeria, he traveled to London to pursue his degree in law.</li>
CSS
 
CSS Options
;
1
body {
2
  background-color: #003300;
3
  font-family: monospace, lobster;
4
  font-align: center;
5
  color: white;
6
    
7
}
8
​
9
h1{    
10
  background-color:#003300;
11
  text-align: center;
12
   }
13
.img{
14
  max-width: 100%;
15
    display: block;
16
margin-left: auto;
17
  Margin-right: auto;
18
  height: auto;
19
  
20
  
21
}
22
#box-container{
23
 display: block;
24
  margin-left: auto;
25
  margin-right: auto;
26
  width: 50%;
27
}
28
​
29
​
JS
 
JS Options
1
document.getElementsByTagName("h1")[0].style.fontSize = "80px";

Console
Assets
Comments

ox-container{
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}